In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/weatherAUS.csv')
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [ ]:
df.shape

(145460, 23)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [ ]:
df.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [ ]:
df['RainTomorrow'].value_counts()

0.0    110316
1.0     31877
Name: RainTomorrow, dtype: int64

In [ ]:
df["Location"].value_counts()

Canberra            3436
Sydney              3344
Darwin              3193
Melbourne           3193
Brisbane            3193
Adelaide            3193
Perth               3193
Hobart              3193
Albany              3040
MountGambier        3040
Ballarat            3040
Townsville          3040
GoldCoast           3040
Cairns              3040
Launceston          3040
AliceSprings        3040
Bendigo             3040
Albury              3040
MountGinini         3040
Wollongong          3040
Newcastle           3039
Tuggeranong         3039
Penrith             3039
Woomera             3009
Nuriootpa           3009
Cobar               3009
CoffsHarbour        3009
Moree               3009
Sale                3009
PerthAirport        3009
PearceRAAF          3009
Witchcliffe         3009
BadgerysCreek       3009
Mildura             3009
NorfolkIsland       3009
MelbourneAirport    3009
Richmond            3009
SydneyAirport       3009
WaggaWagga          3009
Williamtown         3009
Dartmoor            3009
Watsonia            3009
Portland            3009
Walpole             3006
NorahHead           3004
SalmonGums          3001
Katherine           1578
Nhil                1578
Uluru               1578
Name: Location, dtype: int64

In [ ]:
df["WindDir9am"].value_counts()

N      11758
SE      9287
E       9176
SSE     9112
NW      8749
S       8659
W       8459
SW      8423
NNE     8129
NNW     7980
ENE     7836
NE      7671
ESE     7630
SSW     7587
WNW     7414
WSW     7024
Name: WindDir9am, dtype: int64

In [ ]:
df["WindDir3pm"].value_counts()

SE     10838
W      10110
S       9926
WSW     9518
SSE     9399
SW      9354
N       8890
WNW     8874
NW      8610
ESE     8505
E       8472
NE      8263
SSW     8156
NNW     7870
ENE     7857
NNE     6590
Name: WindDir3pm, dtype: int64

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  datetime64[ns]
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: datetime64[ns](1), float64(16), object(6)
memory usage: 25.5+ MB

In [ ]:
# df['Year'] = df['Date'].dt.year
# df['Month'] = df['Date'].dt.month
# df['Day'] = df['Date'].dt.day

In [ ]:
df  = df.drop(columns=["Date","Evaporation","Sunshine",'Cloud9am','Cloud3pm'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       145460 non-null  object
 1   MinTemp        143975 non-null  float64
 2   MaxTemp        144199 non-null  float64
 3   Rainfall       142199 non-null  float64
 4   WindGustDir    135134 non-null  object
 5   WindGustSpeed  135197 non-null  float64
 6   WindDir9am     134894 non-null  object
 7   WindDir3pm     141232 non-null  object
 8   WindSpeed9am   143693 non-null  float64
 9   WindSpeed3pm   142398 non-null  float64
 10  Humidity9am    142806 non-null  float64
 11  Humidity3pm    140953 non-null  float64
 12  Pressure9am    130395 non-null  float64
 13  Pressure3pm    130432 non-null  float64
 14  Temp9am        143693 non-null  float64
 15  Temp3pm        141851 non-null  float64
 16  RainToday      142199 non-null  object
 17  RainTomorrow   142193 non-null  object
dtypes: float64(12), object(6)
memory usage: 20.0+ MB

In [ ]:
df['RainTomorrow'] = df['RainTomorrow'].replace({"Yes":1,"No":0})
df['RainToday'] = df['RainToday'].replace({"Yes":1,"No":0})

In [ ]:
m = df['RainTomorrow'].mode()
m

0    0.0
Name: RainTomorrow, dtype: float64

In [ ]:
df['RainTomorrow'].fillna(0.0,inplace=True)

In [ ]:
df['RainTomorrow'].isnull().sum()

0

In [ ]:
X  = df.drop(columns = ['RainTomorrow'])
y = df['RainTomorrow']

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [ ]:
print(X_train.shape)
print(X_test.shape)

(116368, 17)
(29092, 17)

In [ ]:
print(y_train.shape)
print(y_test.shape)

(116368,)
(29092,)

In [ ]:
# from sklearn.preprocessing import OneHotEncoder

# encode = OneHotEncoder()

# X_train[['Location','WindGustDir','WindDir9am','WindDir3pm']] = encode.fit_transform(X_train[['Location','WindGustDir','WindDir9am','WindDir3pm']])
# X_test[['Location','WindGustDir','WindDir9am','WindDir3pm']] = encode.transform(X_test[['Location','WindGustDir','WindDir9am','WindDir3pm']])

In [ ]:
# X_train = pd.get_dummies(X_train,drop_first=True)
# X_test = pd.get_dummies(X_test,drop_first=True)

In [ ]:
!pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: category_encoders in /usr/local/lib/python3.10/dist-packages (2.6.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.22.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.2.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.10.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.13.5)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.5.3)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.9.0->category_encoders) (23.1)

In [ ]:
import category_encoders as ce

encoder = ce.CountEncoder()
X_train[["Location","WindGustDir","WindDir9am","WindDir3pm"]] = encoder.fit_transform(X_train[["Location","WindGustDir","WindDir9am","WindDir3pm"]])
X_test[["Location","WindGustDir","WindDir9am","WindDir3pm"]] = encoder.transform(X_test[["Location","WindGustDir","WindDir9am","WindDir3pm"]])

In [ ]:
X_train

,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday
111209,2406,10.1,21.8,0.0,8227,NaN,9430,3371,4.0,NaN,93.0,NaN,1011.7,1003.9,12.9,NaN,0.0
98685,2553,14.0,24.9,0.0,6628,30.0,7403,8077,15.0,17.0,44.0,33.0,1025.4,1022.6,16.4,23.6,0.0
43745,2411,13.9,19.9,11.8,7300,33.0,6097,6814,24.0,9.0,72.0,62.0,1033.3,1030.9,17.5,19.3,1.0
134085,2428,5.8,16.2,0.0,6540,52.0,6359,6873,7.0,28.0,67.0,69.0,1009.0,1004.8,12.9,15.6,0.0
74447,1244,13.4,37.3,0.0,7193,65.0,6288,8077,15.0,19.0,44.0,12.0,1016.2,1012.8,22.9,35.7,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45668,2785,15.9,19.9,0.8,7345,48.0,7317,6814,17.0,22.0,73.0,58.0,1011.4,1012.1,17.4,18.6,0.0
34538,2390,18.0,27.0,0.0,5713,52.0,7317,6612,11.0,33.0,66.0,38.0,1019.3,1016.4,20.9,26.0,0.0
77368,2416,4.6,21.7,0.0,7521,26.0,6524,7511,13.0,13.0,95.0,53.0,1023.1,1019.2,9.8,20.0,0.0
135898,2428,14.1,24.0,0.0,5264,28.0,7317,6873,7.0,11.0,78.0,59.0,NaN,NaN,17.6,22.8,0.0
68262,2575,6.8,15.2,0.0,7399,20.0,9430,6293,2.0,2.0,86.0,68.0,1035.7,1033.1,8.7,13.9,0.0

In [ ]:
from sklearn.impute import KNNImputer

imputer = KNNImputer()

X_train_imp = imputer.fit_transform(X_train)
X_test_imp = imputer.transform(X_test)

In [ ]:
y_train.isnull().sum()

0

In [ ]:
X_train.shape
# X_test.shape

(116368, 17)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

X_train_imp_scaler = scaler.fit_transform(X_train_imp)
X_test_imp_scaler = scaler.transform(X_test_imp)

In [ ]:
y_train.shape

(116368,)

In [ ]:
X_train_imp_scaler.shape

(116368, 17)

In [ ]:
np.where(np.isnan(y_train)==True)

(array([], dtype=int64),)

In [ ]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense,Dropout

In [ ]:
model = Sequential()

model.add(Dense(5,activation='relu',input_dim=17))
model.add(Dense(2,activation='relu'))
# model.add(Dropout(0.3))
model.add(Dense(1,activation='sigmoid'))

In [ ]:
model.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_19 (Dense)            (None, 5)                 90

 dense_20 (Dense)            (None, 2)                 12

 dense_21 (Dense)            (None, 1)                 3

=================================================================
Total params: 105
Trainable params: 105
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(loss="binary_crossentropy",optimizer='Adam',metrics=["accuracy"])

In [ ]:
model.fit(X_train_imp_scaler,y_train,epochs=4,validation_split=0.2)

Epoch 1/4
2910/2910 [==============================] - 15s 5ms/step - loss: 0.4374 - accuracy: 0.8094 - val_loss: 0.3828 - val_accuracy: 0.8363
Epoch 2/4
2910/2910 [==============================] - 13s 4ms/step - loss: 0.3818 - accuracy: 0.8362 - val_loss: 0.3757 - val_accuracy: 0.8396
Epoch 3/4
2910/2910 [==============================] - 14s 5ms/step - loss: 0.3785 - accuracy: 0.8385 - val_loss: 0.3750 - val_accuracy: 0.8391
Epoch 4/4
2910/2910 [==============================] - 14s 5ms/step - loss: 0.3764 - accuracy: 0.8390 - val_loss: 0.3720 - val_accuracy: 0.8424

In [ ]:
y_log = model.predict(X_test_imp_scaler)

910/910 [==============================] - 2s 2ms/step

In [ ]:
y_prd = np.where(y_log>0.5,1,0)

In [ ]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,y_prd)

0.8356936614876942